h1
{
	color : rgb(7, 96, 30);
}
h2
{
	color : RGB(100,180,50);
    font-style: oblique;	
}
h3
{
	color : RGB(0,0,250);
}
h4
{
	color : RGB(250,0,250);
	font-size: 20px;
}
h5
{
	color : #D2691E;
	font-size: 20px;
}
body
{
    background-color : #ccffcc;
}

#paragraphe
{
	color : red; 
}
#container {
    margin: 50px;
}
#center {
	text-align: center;
}

#card {
	   border: solid;
       border-width: 1px;
       border-color:#000000;
	   border-radius: 15px;
	   padding: 15px;
       width: 500px;
	   margin: 20px 0px 20px 0px;
	   background-color : #F0F0F0;
}

#card0 {
	   border: solid;
       border-width: 1px;
       border-color:#000000;
	   border-radius: 15px;
	   padding: 15px;
       width: 500px;
	   margin-left: auto;
	   background-color : #F0F0F0;
}

#card2 {
	   border: dotted;
       border-width: 10px;
       border-color:#F08080 #ADD8E6 #FFB347 #90EE90;
	   border-radius: 20px 100px 20px 20px;
	   padding: 15px;
	   margin: 10px 0px 10px 0px;
	   background-color: #FFFFE0;
}
#card3 {
	   border: solid;
       border-width: 1px;
       border-color:green;
	   border-radius: 400px 400px 400px 400px;
	   padding: 15px;
	   margin: 10px 0px 10px 0px;
	   background-color: greenyellow;
}
#card4 {
	float: right;
}

#p2 {
	font-size : 30px;
	color : #000000
}

img.alignLeft{
	margin: 50px 0px 0px 100px;
	float: left;
	border: 1px solid rgb(7, 96, 30)
}
img.alignRight{
	margin: 15px 100px 15px 15px;
	float: right;
	border: 1px solid rgb(7, 96, 30)
}
p.alignLeft{
	text-align: left;
}
p.alignRight{
	text-align: right;
}
label {
	font-family: sans-serif;
	font-size: 1rem;
	padding-right: 10px;
}
select {
	font-size: 0.9rem;
	padding: 2px 5px;
}
